.Timeline {
  margin-bottom: calc(0.05 * var(--minor-axis));
}

.TimelineLabel {
  color: #eee;
  padding: calc(0.01 * var(--minor-axis));
  font-size: calc(0.055 * var(--minor-axis));
}

.ActiveRecordValue--legal {
  color: #3ce;
}

.ActiveRecordValue--illegalOther {
  color: orange;
}

.ActiveRecordValue--illegal {
  color: red;
}
