.App {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.UploadButton {
  background-color: #f58404;
  color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  display: inline-block;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid #d46701;
}

.UploadButton:hover {
  background: #f58d04;
  border-bottom: 5px solid #d48001;
}

.UploadButton:active {
  background: #f58d04;
  border-bottom: 3px solid #d48001;
}

.ActivityOverview {
  background-color: #f58404;
  position: absolute;
  width: 100vw;
  font-size: calc(0.06 * var(--minor-axis));
}

.Entry {
  margin: calc(0.02 * var(--minor-axis)) 0 calc(0.02 * var(--minor-axis))
    calc(0.01 * var(--minor-axis));
}

.Value {
  font-weight: bold;
}
