.App {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  --orange: #f58404;
}

.ActivityView {
  height: 100vh;
}

.UploadButton {
  background-color: #f58404;
  color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  display: inline-block;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid #d46701;
}

.UploadButton:hover {
  background: #f58d04;
  border-bottom: 5px solid #d48001;
}

.UploadButton:active {
  background: #f58d04;
  border-bottom: 3px solid #d48001;
}

.ActivityOverview {
  background-color: #111;
  color: #f58404;
  width: 100vw;
  font-size: calc(0.06 * var(--minor-axis));
}

.Entry {
  padding: calc(0.02 * var(--minor-axis)) 0 calc(0.02 * var(--minor-axis))
    calc(0.01 * var(--minor-axis));
}

.Value {
  color: #eee;
  font-weight: bold;
}

.MinimapContainer {
  background-color: #111;
  width: 100vw;
  font-size: calc(0.06 * var(--minor-axis));
  padding-bottom: 10px;
}

.MinimapBackground {
  background-color: #ddd;
  width: 90vw;
  --height: 10px;
  height: var(--height);
  border-radius: var(--height);
  position: relative;
  left: 5vw;
  margin-top: var(--height);
}

.MinimapForeground {
  height: var(--height);
  background-color: var(--orange);
  border-radius: var(--height);
}

.TimelineLabel {
  color: #eee;
  padding: calc(0.01 * var(--minor-axis));
  font-size: calc(0.055 * var(--minor-axis));
}

.ActiveRecordValue {
  color: #3ce;
}
