.App {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  --orange: #f58404;
  --default-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-family: var(--default-font-family);
}

.UploadButton {
  background-color: #f58404;
  color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  display: inline-block;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid #d46701;
}

.UploadButton:hover {
  background: #f58d04;
  border-bottom: 5px solid #d48001;
}

.UploadButton:active {
  background: #f58d04;
  border-bottom: 3px solid #d48001;
}

.ActivityView {
  height: 100vh;
  --head-height: calc(0.2 * var(--minor-axis));
  --body-height: calc(100vh - var(--head-height));
  --min-color: rgb(47, 0, 255);
  --max-color: rgb(238, 68, 105);
}

.Head {
  background-color: #111;
  width: 100vw;
  height: var(--head-height);
  font-size: calc(0.06 * var(--minor-axis));
  position: absolute;
  top: 0;
}

.Header {
  color: #eee;
  font-weight: bold;
  padding: calc(0.02 * var(--minor-axis)) 0 calc(0.02 * var(--minor-axis))
    calc(0.01 * var(--minor-axis));
}

.MinimapBackground {
  background-color: #ddd;
  width: 90vw;
  --height: calc(0.04 * var(--minor-axis));
  height: var(--height);
  border-radius: var(--height);
  position: relative;
  left: 5vw;
}

.MinimapForeground {
  height: var(--height);
  background-color: var(--orange);
  border-radius: var(--height);
}

.Body {
  position: absolute;
  top: var(--head-height);
  height: var(--body-height);
  overflow: auto;
}

.ActivityOverview {
  background-color: #222;
  color: #f58404;
  width: 100vw;
  font-size: calc(0.06 * var(--minor-axis));
}

.Entry {
  padding: calc(0.02 * var(--minor-axis)) 0 calc(0.02 * var(--minor-axis))
    calc(0.01 * var(--minor-axis));
}

.Value {
  color: #eee;
  font-weight: bold;
}

.Timeline {
  margin-bottom: calc(0.05 * var(--minor-axis));
}

.TimelineLabel {
  color: #eee;
  padding: calc(0.01 * var(--minor-axis));
  font-size: calc(0.055 * var(--minor-axis));
}

.ActiveRecordValue {
  color: #3ce;
}

.Filter {
  margin-bottom: calc(0.05 * var(--minor-axis));
}

.FilterAttribute {
  color: #eee;
  padding: calc(0.01 * var(--minor-axis));
  font-size: calc(0.055 * var(--minor-axis));
}

.FilterMinLabel,
.FilterMaxLabel {
  padding: calc(0.01 * var(--minor-axis));
  font-size: calc(0.05 * var(--minor-axis));
}

.FilterMinLabel {
  padding-left: calc(0.03 * var(--major-axis));
  color: var(--min-color);
}

.FilterMaxLabel {
  color: var(--max-color);
}

.FilterMin,
.FilterMax {
  background-color: transparent;
  color: #eee;
  border: 1px solid #444;
  outline: none;

  font-size: calc(0.03 * var(--major-axis));
  font-family: var(--default-font-family);

  --width: calc(0.08 * var(--major-axis));
  width: var(--width);
  border-radius: var(--width);
  padding: calc(0.01 * var(--major-axis));
}
