html,
body {
  margin: 0;
  padding: 0;
}

@media (min-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vw;
    --minor-axis: 100vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vh;
    --minor-axis: 100vw;
  }
}
